.aBox {
	background-color: aliceblue;
}

.bBox {
	background-color: rgb(181, 210, 235);
}

.cBox{
	background-color: rgb(130, 183, 230);
} 
.dBox {
	background-color: rgb(34, 116, 187);
} 

.eBox{
	background-color: rgb(8, 41, 70);
}
.gBox {
	background-color: rgb(44, 82, 116);
}

.fBox {
	background-color: rgb(136, 191, 238);
}
.hBox {
	background-color: rgb(45, 57, 68);
}

.iBox {
	background-color: rgb(118, 122, 126);
}